# global:
#   scrape_interval:     5s # By default, scrape targets every 15 seconds.
#
#   # Attach these labels to any time series or alerts when communicating with
#   # external systems (federation, remote storage, Alertmanager).
#   external_labels:
#     monitor: 'codelab-monitor'
#
# # A scrape configuration containing exactly one endpoint to scrape:
# # Here it's Prometheus itself.
# scrape_configs:
#   - job_name: 'jmp-service'
#     scrape_interval: 5s
#     metrics_path: '/actuator/prometheus'
#     static_configs:
#       - targets: ['localhost:8089']

global:
    scrape_interval:     15s

scrape_configs:
- job_name: 'prometheus'
  scrape_interval: 5s

  static_configs:
    - targets: ['localhost:9090']

- job_name: 'JMP'
  metrics_path: '/actuator/prometheus'
  scrape_interval: 5s
  static_configs:
    - targets: ['192.168.0.9:8089']

- job_name: 'JMP-1'
  metrics_path: '/actuator/prometheus'
  scrape_interval: 5s
  static_configs:
    - targets: ['host.docker.internal:8089']

- job_name: 'JMP-2'
  metrics_path: '/actuator/prometheus'
  scrape_interval: 5s
  static_configs:
    - targets: ['localhost:8089']
